* {
	margin: 0;
	padding: 0;
}

.icono{
	text-align: center;
	color: red;
	font-size: 60px;
}

.marco{
	padding: 20px;
	border: 1px solid red;
	border-radius: 5px;
	margin: 4px;
}

.marco{
	padding: 20px;
	border: 1px solid red;
	border-radius: 5px;
	margin: 4px;
}

.btn-primario{
	background-color: #66bb6a;
}

.bg-primario{
	background-color: #66bb6a;
}

.bg-secondario{
	background-color: #c8e6c9;
 }

.text-black{
	color: black;
}

a:hover{
	color: #66bb6a;
}

a{
	color: #66bb6a;
}

.nav-link:hover, .title:hover, .portfolio-box:hover, i:hover {
	color: #66bb6a !important;
}